@use '../mixins/breakpoint' as *;

.footer {

    & nav li {
        line-height: 0;
    }
}

.footer_wrapper {
    border-radius: 60px;
    padding: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 82px;

    @include big-desktop {
        padding: clamp(40px, 6vw, 80px);
    }

    @include tablet {
        padding: 40px;
        gap: 66px;
    }

    @include micro-tablet {
        padding: 32px;
    }
}

.footer_top {
    display: grid;
    grid-template-columns: 1fr minmax(400px, 480px);
    gap: 60px;
    position: relative;

    @include big-desktop {
        grid-template-columns: 55% 40%;
        gap: 5%;
    }

    @include tablet {
        gap: 24px;
        grid-template-columns: 60% calc(40% - 24px);
    }

    @media (max-width: 680px) {
        grid-template-columns: 1fr;
    }

    @include micro-mobile{
        gap: 32px;
    }

    &::after {
        position: absolute;
        top: calc(100% + 41px);
        left: 0;
        right: 0;
        z-index: 1;
        background: #f5f6fa;
        height: 2px;
        border-radius: 2px;
        content: '';

        @include tablet {
            top: calc(100% + 33px);
        }
    }

    & small {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        color: #191c1f;
        margin-top: 8px;

        @include big-desktop {
            font-size: clamp(16px, 1.5vw, 20px);
        }

        @include mobile{
            font-size: 18px;
        }
    }

    & .flex-row {
        margin-top: 32px;
        display: flex;
        gap: 16px;

        @include micro-tablet {
            flex-wrap: wrap;
            gap: 8px;
        }

        @include mobile{
            margin-top: 24px;
        }
    }

    & li:nth-child(2) {
        backdrop-filter: blur(24px);
        background: #f5f6fa;
        border-radius: 20px;
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        @include for-desktop {
            padding: 24px;
        }

        & p {
            margin: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            color: #636884;

            @include big-desktop {
                font-size: clamp(14px, 1.6vw, 20px);
            }

            @include mobile{
                font-size: 16px;
            }
        }

    }
}

.footer_top_logo {
    display: flex;
    max-width: 180px;
    max-height: 48px;

    @include tablet {
        max-width: 150px;
        max-height: none;
        justify-content: flex-start;
    }

    & img {
        display: block;
        object-fit: contain;
        flex-shrink: 0;
        width: 100%;
        height: auto;
    }
}

.footer_top_success {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: var(--text-color);
    margin: 0;
    margin-top: 16px;

    @media (max-width:1400px) {
        & br {
            display: none;
        }
    }

    @include big-desktop {
        font-size: clamp(32px, 3vw, 40px);
    }

    @media (max-width: 680px) {
        text-wrap: balance;
    }

    & span {
        position: relative;

        &::after {
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';
            width: 381px;
            height: 13.6px;
            top: 100%;
            left: -5%;
            // transform: translateX(-50%);
            background-image: url('data:image/svg+xml,%3Csvg%20width=%22363%22%20height=%2214%22%20viewBox=%220%200%20363%2014%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Cpath%20d=%22M1%205.09756L362%201L21.8189%2013H333.27%22%20stroke=%22#4039FF%22%20stroke-width=%222%22%20stroke-linecap=%22round%22%20/%3E%20%3C/svg%3E');

            @include big-desktop {
                width: calc(381 / 14.4 * 1vw);
            }
        }
    }
}

.footer_top_register {
    box-shadow: 0 6px 40px 0 rgba(78, 117, 255, 0.4);
    background: #4039ff;
    border-radius: 12px;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    display: flex;
    gap: 4px;
    align-items: center;

    @include for-desktop {
        font-size: 14px;
        padding: 10px 16px;
    }

    @include micro-tablet {
        max-width: none;
        width: 100%;
        justify-content: center;
    }

    & svg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        @include for-desktop {
            width: 16px;
            height: 17px;
        }
    }
}

.header_auth.--footer {
    background: rgba(64, 57, 255, 0.08);

    @include for-desktop {
        padding: 10px 16px;
    }

    @include micro-tablet {
        display: block;
        max-width: none;
        width: 100%;
        text-align: center;
    }
}

.footer_top_question {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #636884;

    @include big-desktop {
        font-size: clamp(20px, 2.4vw, 32px);
    }
}

.footer_top_write {
    background: #636884;
    border-radius: 12px;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #fff;
    display: block;
    max-width: max-content;
    margin-top: auto;

    @include for-desktop {
        padding: 10px 16px;
        font-size: 14px;
    }
    @media  (max-width: 680px) {
        margin-top: 20px;
}
}

.footer_bottom {
    & .grid-row {
        display: grid;
        gap: clamp(10px, calc(160 / 14.4 * 1vw), 180px);
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

        @include big-desktop {
            gap: clamp(10px, calc(125 / 14.4 * 1vw), 180px);
        }

        @include for-desktop {
            gap: 10px;
        }

        @include tablet {
            grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
        }
    }

    & .flex-row {
        display: flex;
        justify-content: space-between;
        margin-top: 42px;

        @include for-desktop {
            justify-content: unset;
            align-items: flex-start;
            flex-direction: column;
            gap: 16px;
        }

        @include tablet {
            margin-top: 32px;
        }
    }
}

.footer_menu {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & li a {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #636884;
    }

    & li.footer_name a {
        font-weight: 600;
        font-size: 14px;
        pointer-events: none;

        @include tablet {
            font-size: 12px;
        }
    }
}

.footer_item {
    display: flex;
    gap: 16px;
}

.footer_language {
    display: flex;
    align-items: center;
    gap: 10px;

    & img {
        width: 18px;
        height: 18px;
        border-radius: 4px;
    }

    & span {
        opacity: 0.6;
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        text-align: center;
        color: var(--text-color);
    }
}

.footer_menu_bottom {
    display: flex;
    gap: 24px;

    @include tablet {
        flex-wrap: wrap;
        gap: 8px;
    }

    @include mobile{
        display: flex;
        flex-direction: column;
    }

    & li:not(:last-child) {
        margin-right: 8px;
    }

    & li a {
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        color: #636884;
    }
}