@use '../mixins/breakpoint' as *;

.header {
    backdrop-filter: blur(24px);
    background: rgba(255, 255, 255, 0.5);
    padding: 16px 0;

    @include big-desktop {
        padding: 13.5px 0;
    }

    & .container_fluid {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
    }
}

.header_burger {
    display: none;

    @include micro-tablet {
        display: flex;
        flex-direction: column;
        padding: 10px;
        justify-content: space-between;
        align-items: stretch;
        background: #fff;
        border-radius: 6px;
        width: 36px;
        height: 36px;

        & span {
            height: 3px;
            width: 16px;
            display: block;
            background-color: var(--text-color);
        }
    }
}

.header_nav {
    display: flex;
    align-items: center;
    gap: 40px;

    @include big-desktop {
        gap: clamp(16px, 2.2vw, 40px);
    }

    @include micro-tablet {
        display: none;
    }

    &>li>a {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #191c1f;
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 9.5px 8px 9.5px 16px;
        position: relative;

        @include tablet {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &::before {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            height: 4px;
            width: 100%;
            content: '';
            background: transparent;
            border-radius: 4px 4px 0 0;
            transition: all 0.3s linear;
            width: 0px;
        }

    }

    &>li {
        @media (hover:hover) {
            &:hover a::before {
                background: #4039ff;
                width: 100%;
            }
        }
    }

    &>li.current-menu-item {

        & a::before {
            background: #4039ff;
            width: 100%;
        }
    }

    &>li.menu-item-has-children>a::after {
        content: '';
        width: 20px;
        height: 20px;
        background-image: url('data:image/svg+xml,%3Csvg%20width=%2220%22%20height=%2220%22%20viewBox=%220%200%2020%2020%22%20fill=%22none%22%20xmlns=%22http://www.w3.org/2000/svg%22%3E%20%20%20%3Cpath%20d=%22M6.66406%208.3335L9.9974%2011.6668L13.3307%208.3335%22%20stroke=%22#191C1F%22%20stroke-width=%221.5%22%20stroke-linecap=%22round%22%20stroke-linejoin=%22round%22%20/%3E%20%3C/svg%3E');
    }
}

.header_auth {

    @include micro-tablet {
        display: none;
    }
}

.header_logo {
    width: 180px;
    height: 48px;

    @include tablet {
        width: 130px;
        height: 32px;
    }
}

.header_wrapper {
    display: flex;
    gap: 16px;
}

.header_nav>li {
    position: relative;

    & .sub-menu {
        margin: 0;
        list-style: none;
        padding: 0;
        position: absolute;
        top: calc(100% + 20px);
        left: 0;
        max-width: max-content;
        transform-origin: 0 0;
        transition: all 0.3s linear;
        display: flex;
        flex-direction: column;
        padding: 16px;
        border-radius: 20px;
        box-shadow: 0 12px 32px rgba(13, 17, 38, .1215686275);
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        transform: rotateX(-90deg);

        & li {
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #191c1f;
            line-height: 20px;
            letter-spacing: 0;
            text-align: left;
            padding: 10px 12px;
            border-radius: 8px;
            transition: background 0.3s linear;
            min-width: 240px;

            @media(hover:hover) {
                &:hover {
                    background: rgba(64, 57, 255, .08);
                }
            }

            & a {
                white-space: nowrap;
                display: grid;
                grid-template-columns: 30px 1fr;

                & span {
                    white-space: wrap;
                    font-size: 14px;
                    font-weight: 400;
                    text-wrap: balance;
                }

                & img {
                    grid-row: 2 span;
                    padding-right: 10px;
                }
            }
        }
    }
}
@media(min-width:1021px){
    @media(hover:hover) {
        .menu-item-has-children:hover .sub-menu {
            visibility: visible;
            opacity: 1;
            transform: rotateX(0);
        }
    }
}

.burger {
    background-color: #fff;
    border-radius: 8px;
    height: 36px;
    padding: 10px;
    position: relative;
    transition: all 0.2s ease;
    display: none;
    width: 36px;
  }
  .burger__content {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    pointer-events: none;
  }
  .burger span {
    background-color: #191c1f;
    border-radius: 8px;
    height: 2px;
    left: 0;
    position: absolute;
    transition: all 0.2s ease;
    width: 100%;
    pointer-events: none;
  }
  .burger span:first-child {
    top: 0;
  }
  .burger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%);
  }
  .burger span:nth-child(4) {
    bottom: 0;
  }
  .header__wrapper{
    display: none;
  }
  @media screen and (max-width: 1020px) {
    .header__wrapper{
        display: block;
    }
    .header_mobile.header_nav{
        display: flex;
    }
    .burger {
      display: block;
    }
    .header_nav{
        display: none;
    }
    .header_wrapper{
        display: none;
    }
    .header__wrapper {
      position: fixed;
      left: 0;
      top: -40px;
      z-index: 9;
      visibility: hidden;
      width: 100%;
      opacity: 0;
      height: calc(100% - 67px);
      background: #f5f5f5;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      transition: all 0.2s linear;
    }
    .header__wrapper.active {
      opacity: 1;
      top: 67px;
      visibility: visible;
    }
    
    .burger.active span:first-child {
      left: 50%;
      top: 50%;
      width: 0;
    }
    .burger.active span:nth-child(2) {
      transform: rotate(45deg) translateY(-50%);
    }
    .burger.active span:nth-child(3) {
      left: 5%;
      transform: rotate(-45deg) translateY(-50%);
    }
    .burger.active span:nth-child(4) {
      left: 50%;
      top: 50%;
      width: 0;
    }
    .header__buttons {
        position: sticky;
        top: 100%;
      }
      .header__navigation {
        width: 100%;
      }
      .header__mobile-wrapper {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      .sub-menu__wrapper {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
      }
      .header__mobile-wrapper {
        display: none;
      }
      .header__mobile-wrapper.opened {
        display: block;
      }
      .sub-menu {
        display: none;
      }
      .menu-item-has-children > a.opened {
        background: #fff;
      }
      .menu-item-has-children > a.opened:after {
        transform: translateY(-50%) rotate(180deg);
      }
      .header__navigation .menu-item-has-children > a:before {
        display: none;
      }
      .no-scroll {
        overflow: hidden;
      }
}
.header_mobile.header_nav{
    flex-wrap: wrap;

    @include mobile{
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        position: relative;

        & li{
            position: static;
        }
    }

    & .menu-item-has-children.active .sub-menu {
        visibility: visible;
        opacity: 1;
        transform: rotateX(0);
    }
}
// body:has(.burger.active){
//     overflow: hidden;
//     margin-right: var(--scrollbar-width);

//     & .header__wrapper{
//         width: calc(100% - var(--scrollbar-width));
//     }  
// }
.header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__wrapper .btn {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 21px;
    margin-left: 16px;
    border-radius: 8px;
  }
  .header__wrapper .btn-white {
    padding: 6px 21px;
    border-radius: 8px;
    color: var(--main-black-color);
  }