<div class="header">
    <div class="container_fluid">
        <a href="#!" class="header_logo">
            <img src="./assets/images/header/logo.png" alt="logo" width="180" height="48">
        </a>
        <nav>
            <ul class="header_nav list-reset">
                <li class="current-menu-item"><a href="">Креаторам</a></li>
                <li><a href="">Бизнесу</a></li>
                <li><a href="">Компания</a></li>
            </ul>
        </nav>
        <div class="header_wrapper">
            <a href="#!" class="header_auth white_link">Войти</a>
            <a href="#!" class="header_reg accent_link">Зарегистрироваться</a>
        </div>
        <button type="button" class="btn-reset header_burger" aria-label="Open the menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>